# Go artifacts
/bin/
/build/
/dist/
/out/
*.exe
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
*.pprof
*.prof

# Local configs/environment variables
.env
.env.*

# IDE / OS
.DS_Store
.idea
.vscode
*.swp
*.swo
